<ui:composition template="/WEB-INF/template/novotemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<!-- 	<ui:define name="titulo">Pesquisar Alimentos</ui:define> -->
	<ui:define name="conteudo">
		<h:form style="margin-left : 2%">
			<h:outputStylesheet library="css"
				name="/resources/stylesheets/estilo.css" />
			<h:outputStylesheet library="css" name="style.css" />
			<br />
			<h1>Pesquisar alimentos para simulação</h1>
			<!-- 			<p:separator /> -->

			<p:commandButton value="Selecionar alimento" type="button"
				onclick="PF('dlg2').show();" />

			<h2>Selecionou o alimento :
				#{aveSimulacaoBean.alimentoSelecionado.nome}</h2>


			<h:panelGrid columns="2" style="margin-right:20px">
				<h:panelGrid columns="1" style="margin-right:20px">
					<p:dataTable value="#{aveSimulacaoBean.listAlimentoNutriente}"
						var="alimentoAssociado" style="margin-top:20px;margin-right:20px"
						emptyMessage="Nenhum nutriente encontrado.">
						<f:facet name="header">
         			 	Padrão
      			 </f:facet>
						<p:column headerText="Nutriente" styleClass="codigo_tabela">
							<h:outputText value="#{alimentoAssociado.nutriente.nome}" />
						</p:column>

						<p:column headerText="Valor Nutritivo" styleClass="codigo_tabela">
							<h:outputText value="#{alimentoAssociado.valorNutritivo}" />
						</p:column>

						<p:column headerText="Unidade">
							<h:selectOneMenu value="#{alimentoAssociado.unidade}"
								disabled="true">
								<f:selectItem itemLabel="%" itemValue="0" />
								<f:selectItem itemLabel="Kcal/kg" itemValue="1" />
								<f:selectItem itemLabel="mg/kg" itemValue="2" />
								<f:selectItem itemLabel="ppm" itemValue="3" />
								<f:selectItem itemLabel="UI" itemValue="4" />
								<f:selectItem itemLabel="mcg/Kg" itemValue="5" />
							</h:selectOneMenu>
						</p:column>

					</p:dataTable>

					<h:panelGrid columns="2" border="0">
						<h:panelGrid>
							<p:panel id="avesJovensPadrao" header="Aves Jovens"
								footer="Energia Metabolizada Eq.(kcal/kg)"
								style="margin-bottom:20px; width:200px; background-color:black;text-align: center;">
								<h:panelGrid columns="1" cellpadding="20px">
									<h:outputText
										value="#{aveSimulacaoBean.avesJovensEnergiaMetabolizada}"
										style="font-size: 25px;color: red;font-weight: bold;font-style: italic;text-align: center;" />
								</h:panelGrid>
							</p:panel>
						</h:panelGrid>
						<h:panelGrid>
							<p:panel id="galinhasPadrao" header="Galinhas"
								footer="Energia Metabolizada Eq.(kcal/kg)"
								style="margin-bottom:20px; width:200px; background-color:black;text-align: center;">
								<h:panelGrid columns="1" cellpadding="15px">
									<h:outputText
										value="#{aveSimulacaoBean.galinhasEnergiaMetabolizada}"
										style="font-size: 25px;color: red;font-weight: bold;font-style: italic;text-align: center;" />
								</h:panelGrid>
							</p:panel>
						</h:panelGrid>
					</h:panelGrid>

				</h:panelGrid>
				<h:panelGrid columns="1" style="margin-top:20px;margin-left:20px">
					<p:dataTable
						value="#{aveSimulacaoBean.listAlimentoNutrienteSimular}"
						var="alimentoAssociado"
						emptyMessage="Nenhum nutriente encontrado.">
						<f:facet name="header">
         			 Simulação
      			 </f:facet>
						<p:column headerText="Código nutriente" rendered="true"
							styleClass="codigo_tabela">
							<h:outputText value="#{alimentoAssociado.nutriente.codigo}" />
						</p:column>
						<p:column headerText="Nutriente" styleClass="codigo_tabela">
							<h:outputText value="#{alimentoAssociado.nutriente.nome}" />
						</p:column>

						<p:column headerText="Valor Nutritivo" styleClass="codigo_tabela">
							<h:inputText value="#{alimentoAssociado.valorNutritivo}" />
						</p:column>

						<p:column headerText="Unidade">
							<h:selectOneMenu value="#{alimentoAssociado.unidade}">
								<f:selectItem itemLabel="%" itemValue="0" />
								<f:selectItem itemLabel="Kcal/kg" itemValue="1" />
								<f:selectItem itemLabel="mg/kg" itemValue="2" />
								<f:selectItem itemLabel="ppm" itemValue="3" />
								<f:selectItem itemLabel="UI" itemValue="4" />
								<f:selectItem itemLabel="mcg/Kg" itemValue="5" />
							</h:selectOneMenu>
						</p:column>
					</p:dataTable>

					<h:panelGrid columns="2" border="0">

						<h:panelGrid>
							<p:panel id="avesJovensSimulado" header="Aves Jovens"
								footer="Energia Metabolizada Eq.(kcal/kg)"
								style="margin-bottom:20px; width:200px; background-color:black;text-align: center;">
								<h:panelGrid columns="1" cellpadding="20px">
									<h:outputText
										value="#{aveSimulacaoBean.avesJovensEnergiaMetabolizada}"
										style="font-size: 25px;color: red;font-weight: bold;font-style: italic;text-align: center;" />
								</h:panelGrid>
							</p:panel>
						</h:panelGrid>
						<h:panelGrid>
							<p:panel id="galinhasSimulado" header="Galinhas"
								footer="Energia Metabolizada Eq.(kcal/kg)"
								style="margin-bottom:20px; color:red;  width:200px; background-color:black;text-align: center;">
								<h:panelGrid columns="1" cellpadding="20px">
									<h:outputText
										value="#{aveSimulacaoBean.galinhasEnergiaMetabolizada}"
										style="font-size: 25px;color: red;font-weight: bold;font-style: italic;text-align: center;" />
								</h:panelGrid>
							</p:panel>
						</h:panelGrid>
					</h:panelGrid>
				</h:panelGrid>
			</h:panelGrid>


			<h:panelGrid columns="3">
				<p:commandButton value="Simular" style="margin-top:25px" />
				<p:commandButton value="Gravar" style="margin-top:25px" />
				<p:commandButton value="Importar" style="margin-top:25px" />
			</h:panelGrid>

			<br />
			<br />

			<p:dialog resizable="false"
				header="Selecione o alimento que deseja simular" widgetVar="dlg2"
				modal="true" height="300" showEffect="clip" hideEffect="explode"
				width="40%">

				<h:panelGrid columns="2">
					<p:outputLabel value="Código" for="codigo"
						style="font-weight:bold;" />
					<p:inputText id="codigo" />

					<p:outputLabel value="Alimento" for="alimento"
						style="font-weight:bold" />
					<p:inputText id="alimento" />



				</h:panelGrid>


				<p:dataTable value="#{aveSimulacaoBean.listAlimento}" var="alimento"
					style="margin-top:20px" emptyMessage="Nenhum alimento encontrado."
					rows="50" paginator="true" paginatorAlwaysVisible="false"
					paginatorPosition="bottom">



					<p:column headerText="Alimento">
						<h:outputText value="#{alimento.nome}" />
					</p:column>



					<p:column headerText="Selecionar" styleClass="iconPesquisaAlimento">

						<p:commandButton value="selecionar" icon="ui-icon-check"
							partialSubmit="true" action="#{aveSimulacaoBean.selecionar}"
							title="Selecionar" process="@form" update="@form"
							onclick="PF('dlg2').hide();">
							<f:setPropertyActionListener value="#{alimento}"
								target="#{aveSimulacaoBean.alimentoSelecionado}" />
						</p:commandButton>

					</p:column>

				</p:dataTable>
				<br />
			</p:dialog>
			<p:messages />



		</h:form>

	</ui:define>
</ui:composition>