<ui:composition template="/WEB-INF/template/novotemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<!-- 	<ui:define name="titulo">Pesquisar Alimentos</ui:define> -->
	<ui:define name="conteudo">
		<h:form>
			<h:outputStylesheet library="css" name="estilo.css" />
			<h:outputStylesheet library="css" name="style.css" />
			<h1>Simulador de energia</h1>
			<p:separator />

			<h2>
				<h:outputLabel value="#{associarBean.alimento.nome}" />
			</h2>
			<p:separator />
			<p:messages />
			<p:panelGrid>

				<table>
					<tr>
						<th>Nutriente</th>
						<th>Original</th>
						<th>Editável</th>
					</tr>
					<tr>
						<th>Matéria Seca (%)</th>
						<th><h:inputText /></th>
						<th><h:inputText /></th>
					</tr>
					<tr>
						<th>Proteina Bruta (%)</th>
						<th><h:inputText /></th>
						<th><h:inputText /></th>
					</tr>
					<tr>
						<th>Coef. Dig. PB (%)</th>
						<th><h:inputText /></th>
						<th><h:inputText /></th>
					</tr>
					<tr>
						<th>PB Digestivel(%)</th>
						<th><h:inputText /></th>
						<th><h:inputText /></th>
					</tr>
					<tr>
						<th>Gordura(%)</th>
						<th><h:inputText /></th>
						<th><h:inputText /></th>
					</tr>
					<tr>
						<th>Coef. Dig. gordura(%)</th>
						<th><h:inputText /></th>
						<th><h:inputText /></th>
					</tr>
					<tr>
						<th>Gordura digestivel(%)</th>
						<th><h:inputText /></th>
						<th><h:inputText /></th>
					</tr>
					<tr>
						<th>Materia Mineral(%)</th>
						<th><h:inputText /></th>
						<th><h:inputText /></th>
					</tr>
					<tr>
						<th>Fibra Bruta(%)</th>
						<th><h:inputText /></th>
						<th><h:inputText /></th>
					</tr>
					<tr>
						<th>Gordura(%)</th>
						<th><h:inputText /></th>
						<th><h:inputText /></th>
					</tr>
					<tr>
						<th>Extrato não nitrogenado - ENN(%)</th>
						<th><h:inputText /></th>
						<th><h:inputText /></th>
					</tr>
					<tr>
						<th>Coef. Dig. ENN(%)</th>
						<th><h:inputText /></th>
						<th><h:inputText /></th>
					</tr>
					<tr>
						<th>ENN digestivel(%)</th>
						<th><h:inputText /></th>
						<th><h:inputText /></th>
					</tr>
					<tr>
						<th>ENN não Dig. + Fibra Bruta (%)</th>
						<th><h:inputText /></th>
						<th><h:inputText /></th>
					</tr>
				</table>
			</p:panelGrid>
			
		</h:form>

	</ui:define>
</ui:composition>