<ui:composition template="/WEB-INF/template/novotemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<!-- 	<ui:define name="titulo">Cadastrar Origem</ui:define> -->
	<ui:define name="conteudo" >
<!-- 		<h:outputStylesheet library="css" name="estilo.css" /> -->
<!-- 		<h:outputStylesheet library="css" name="style.css" /> -->
		<h:form style="margin-left:6px;margin-right:6px">
			<h:inputHidden value="{origemBean.origem.id}" />
			<h1 >Nova Origem</h1>	
			
			<p:toolbar style="margin-top:20px">
				<p:toolbarGroup>
					<p:button value="Novo" />
					<p:commandButton value="Cadastrar" update="@form"
						action="#{origemBean.salvar}" process="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Cancelar" outcome="/restrito/index" />

					<p:separator />

					<p:button value="Pesquisa" outcome="/admin/Origem/PesquisarOrigem" />
				</p:toolbarGroup>
			</p:toolbar>


			<br />

			

				
			<h:panelGrid columns="2" >
				<p:outputLabel value="Origem" for="nome" />
				<p:inputText id="nome" value="#{origemBean.origem.nome}"
					required="true"
					requiredMessage="É necessário informar o nome da origem." />
					
					
			</h:panelGrid>
			<p:messages />
			<br />
		</h:form>
	</ui:define>
</ui:composition>