<ui:composition template="/WEB-INF/template/novotemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="conteudo">

		<h:form id="form" style="margin-left:6px; margin-right:6px;">
			<h:outputStylesheet library="css" name="estilo.css" />
			<h:outputStylesheet library="css" name="style.css" />
			<h1>Associar nutrientes</h1>
			<p:toolbar style="margin-top:20px">
				<p:toolbarGroup>
					<p:commandButton value="Associar" action="#{associarBean.associar}"
						update="@form" process="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Cancelar" outcome="/restrito/index" />

				</p:toolbarGroup>
			</p:toolbar>


			<br />

			<h2>
				<h:outputLabel style="color:red"
					value="Alimento  : #{associarBean.alimento.nome}" />
			</h2>
			<p:dataTable id="table_alimento"
				value="#{associarBean.listaNutriente}" var="nutriente"
				style="margin-top:20px" emptyMessage="Nenhum alimento encontrado.">

				<f:facet name="header">
         			 Lista de Nutrientes
      			 </f:facet>

				<p:column headerText="Código" styleClass="codigo_tabela">
					<h:outputText value="#{nutriente.codigo}" />
				</p:column>

				<p:column headerText="Nutriente">
					<h:outputText value="#{nutriente.nome}" />
				</p:column>

				<p:column headerText="Valor nutritivo"
					styleClass="coluna_input_valor">
					<p:inputText value="#{nutriente.valor_nutritivo}"
						styleClass="input_valor" />
				</p:column>

				<p:column headerText="Unidade" styleClass="coluna_unidade_select">
					<h:selectOneMenu value="#{nutriente.unidade}"
						styleClass="select_tabela">
						<f:selectItem itemLabel="%" itemValue="0" />
						<f:selectItem itemLabel="Kcal/kg" itemValue="1" />
						<f:selectItem itemLabel="mg/kg" itemValue="2" />
						<f:selectItem itemLabel="ppm" itemValue="3" />
						<f:selectItem itemLabel="UI" itemValue="4" />
						<f:selectItem itemLabel="mcg/Kg" itemValue="5" />
					</h:selectOneMenu>
				</p:column>

				<f:facet name="footer">
					<h:outputLabel value="#{associarBean.qtd_nutrientes}" /> nutrientes</f:facet>
			</p:dataTable>



		</h:form>
		<br />
	</ui:define>
</ui:composition>