<ui:composition template="/WEB-INF/template/novotemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<!-- 	<ui:define name="titulo">Pesquisar Nutrientes</ui:define> -->
	<ui:define name="conteudo">
		<h:form style="margin-left:6px; margin-right:6px;">
			<h:outputStylesheet library="css" name="estilo.css" />
			<h:outputStylesheet library="css" name="style.css" />
			<h1>Pesquisar Nutrientes</h1>
			<p:toolbar style="margin-top:20px">
				<p:toolbarGroup>
					<p:commandButton value="Pesquisar" process="@form:codigo"
						update="@form" action="#{nutrienteBean.pesquisar}" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Novo"
						outcome="/admin/nutriente/CadastrarNutriente" />
				</p:toolbarGroup>
			</p:toolbar>


			<br />



			<h:panelGrid columns="2">
				<p:outputLabel value="Código" for="codigo" />
				<p:inputText id="codigo"
					value="#{nutrienteBean.nutrienteFilter.codigo}" />

				<p:outputLabel value="Nutriente" for="nutriente" />
				<p:inputText id="nutriente" />

			</h:panelGrid>
			<p:messages />
			<p:dataTable id="table_alimento" value="#{nutrienteBean.listar}"
				var="nutriente" style="margin-top:20px"
				emptyMessage="Nenhum nutriente encontrado." rows="50"
				paginator="true" paginatorAlwaysVisible="false"
				paginatorPosition="bottom">

				<f:facet name="header">
         			 	Lista de Nutrientes
      			 </f:facet>
				<p:column headerText="Código" styleClass="codigo_tabela">
					<h:outputText value="#{nutriente.codigo}" />
				</p:column>
				<p:column headerText="Nutriente">
					<h:outputText value="#{nutriente.nome}" />
				</p:column>


				<p:column headerText="Alterar"
					styleClass="coluna_bt_alterar_excluir">
					<p:commandButton value="Alterar" icon="ui-icon-refresh"
						action="#{nutrienteBean.editar}">
						<f:setPropertyActionListener target="#{nutrienteBean.nutriente}"
							value="#{nutriente}" />
					</p:commandButton>
				</p:column>
				<p:column headerText="Excluir"
					styleClass="coluna_bt_alterar_excluir">
					<p:commandButton value="Excluir" icon="ui-icon-close"
						action="#{nutrienteBean.excluir}" process="@form" update="@form">
						<f:setPropertyActionListener value="#{nutriente}"
							target="#{nutrienteBean.nutrienteSelecionado}" />

						<p:confirm header="Exclusão de Nutriente"
							message="Tem certeza que deseja excluir o nutriente?"
							icon="ui-icon-alert">
						</p:confirm>
					</p:commandButton>
				</p:column>

				<f:facet name="footer">
					<h:outputLabel value="#{nutrienteBean.qtdNutrientes}" /> nutrientes cadastrados</f:facet>
			</p:dataTable>
			<p:confirmDialog global="true">
				<p:commandButton value="Sim" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Nao" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</h:form>
		<br />
	</ui:define>
</ui:composition>