<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Login</title>
		<h:outputStylesheet library="stylesheets/themes/default"
			name="style.css" />
		<h:outputStylesheet library="stylesheets" name="base.css" />
</h:head>
<h:body>
	
		<div id="box" style="margin-top: 16%">
			<div style="align: center;">
				<div class="block" id="block-login">
					<h2>Login</h2>
					<div class="content login">
						
						<form id="login" method="post"
							action="#{request.contextPath}/j_spring_security_check"
							class="form login">
							<div class="flash">
							<h:panelGroup rendered="#{!empty param.login_error}">
								<div class="message error">
									<p>
										<h:outputLabel
											value="Usuário ou senha invalidos. #{SPRING_SECURITY_LAST_EXCEPTION.message} " />
									</p>
								</div>
							</h:panelGroup>
						</div>
							<div class="group wat-cf">
								<div class="left">
									<label class="label right">Login</label>
								</div>
								<div class="right">
									<input type="text" class="text_field" name="j_username" />
								</div>
							</div>
							<div class="group wat-cf">
								<div class="left">
									<label class="label right">Password</label>
								</div>
								<div class="right">
									<input type="password" class="text_field" name="j_password" />
								</div>
							</div>
							<br /> <input type="checkbox" name="_spring_security_remember_me" />Logar
							automaticamente <br /> <br /> <a href="#">Cadastrar novo
								usuário</a>
							<div class="group navform wat-cf">
								<br />
								<div class="right">

									<button class="button" type="submit">
										<img src="../resources/images/icons/key.png" alt="Save" />
										Login
									</button>

								</div>
							</div>
							<script>
								document.getElementById("login").j_username.value = "#{SPRING_SECURITY_LAST_USERNAME}";
							</script>
						</form>
					</div>
				</div>
			</div>
		</div>


</h:body>
</html>